@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lobster|Varela+Round');

/* colors */

$dark-grey:   #3E3E3E;
$dark-green:  #3DA035;
$green:       #4CC641;
$white:       #DDDDDD;
$light-grey:  #adafad;
$error-font:  #F36026;
$error-bgnd:  rgba(255, 211, 211, 0.5);

body {
  background-color: $dark-grey;
  color: $dark-grey;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  min-height: 100vh;
}

/* buttons */

.btn.btn-default:active, .btn.btn-default:focus {
  background-color: $white;
  border-color: $green;
  box-shadow: none;
  color: $green;
  outline: none;
}

.green-btn, .clear-btn, .create-btn {
  background-color: $green;
  border: 2px solid $green;
  border-radius: 20px;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  &:hover {
    background-color: $white;
    border: 2px solid $green;
    color: $dark-green;
  }
  &:focus, &:active {
    background-color: $white;
    border-color: $green;
    color: $dark-green;
    outline: none;
  }
}

.clear-btn, .create-btn {
  background-color: $white;
  border-color: $light-grey;
  color: $light-grey;
  font-weight: normal;
  padding: 6px 12px;
}

.create-btn {
  background-color: $dark-grey;
  border-color: $white;
  color: $white;
  &:hover {
    background-color: $dark-grey;
    border-color: $green;
    color: $green;
  }
}

input[type=submit] {
  margin-right: 50px;
}

/* errors */

.errors ul {
  background-color: $error-bgnd;
  border: 1px solid $error-font;
  border-radius: 10px;
  color: $error-font;
  font-style: italic;
  list-style: none;
  padding: 20px;
  text-align: center;
}

/* header */

#root {
  text-decoration: none;
}

#header {
  color: $green;
  font-family: 'Lobster', cursive;
  margin-top: 60px;
}

/* forms */

.form-control {
  background-color: $white;
  border: 2px solid $light-grey;
  border-radius: 10px;
  box-shadow: none;
  color: $dark-grey;
  font-size: 16px;
  height: 40px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  &:focus {
    border-color: $green;
    box-shadow: none;
  }
}

#poll_question {
  font-size: 1.7rem;
  font-weight: bold;
  height: 50px;
}

/* main page */

.form-container, .results-container {
  background-color: $white;
  border-left: 10px solid $green;
  margin: 30px auto;
  min-width: 350px;
  padding: 20px 50px;
  width: 70%;
}

/* edit and show view */

#question {
  border-bottom: 2px solid $green;
  font-size: 24px;
  font-style: italic;
  padding-bottom: 10px;
  text-align: center;
}

/* edit view */

.info {
  background-color: $green;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px;
}

/* show view */

.answer {
  border-bottom: 1px dashed $light-grey;
  margin-top: 25px;
  padding-bottom: 5px;
  .value{
    float: right;
  }
  .text, .value {
    display: inline-block;
    padding: 0;
  }
}

#total {
  color: $dark-green;
  margin-bottom: 10px;
  margin-top: 10px;
}

span.percentage {
  color: $green;
  letter-spacing: 0;
}

.filled {
  background-color: $green;
  height: 25px;
}

/* checkboxes and radio buttons */

/* hide defaults checkboxes and radio buttons */
.checkbox input[type=checkbox], .radio input[type=radio] {
  opacity: 0;
}

/* edit and show view checkboxes */
.checkbox, .radio {
  border-bottom: 1px dashed $light-grey;
  margin-bottom: 25px;
  padding-bottom: 5px;
  padding-left: 30px;
  label {
    padding-left: 0px;
  }
}

/* index view checkboxes */
.options .checkbox {
  border: none;
  margin: 0;
  padding-bottom: 0;
}

/* create custom checkbox */
.checkbox label::before, .radio label::before{
  content: "";
  border: 2px solid $light-grey;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.checkbox label::after, .radio label::after {
  content: "";
  border-bottom: 4px solid $dark-green;
  border-left: 4px solid $dark-green;
  display: inline-block;
  height: 10px;
  transform: rotate(-45deg);
  width: 20px;
}

.checkbox label, .radio label {
  position: relative;
}
.checkbox label::before, .checkbox label::after,
.radio label::before, .radio label::after {
  position: absolute;
}

.checkbox label::before, .radio label::before {
  left: -30px;
}

.checkbox label::after, .radio label::after {
  left: -27px;
}

.checkbox input[type=checkbox] + label::after,
.radio input[type=radio] + label::after {
  content: none;
}

.checkbox input[type=checkbox]:checked + label::after,
.radio input[type=radio]:checked + label::after {
  content: "";
}


/* media */

@media only screen and (max-width: 767px) {

  .form-container, .results-container {
    padding: 20px 20px;
  }
}