!!! 5
%html
  %head
    %title Polls
    = render 'layouts/default'
  %body
  = render 'cookies_eu/consent_banner', link: '/cookies', target: '_blank'    
  .container
    .row
      .text-center
        %a#root{href: root_path}
          %h1#header Create real-time polls!
          %button.dark-btn Create new poll
          = render 'polls/last'
      = yield